<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                <img src="./../../assets/perfil.jpg" class="card-img-top rounded-circle w-75" alt="Foto do usuário">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Maycon Rodrigues Ribeiro</h5>
                  <p class="card-text text-center">Desenvolvedor Web Fullstack </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>
