.parallax{
    background-image: url('https://cdn.pixabay.com/photo/2015/04/02/20/33/password-704252_960_720.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}